html,body{
    background-color: whitesmoke;
    font-weight: 100;
    font-family: sans-serif;
}

#product-recalls{
    width: 100%;
    background-color: gainsboro;
    padding: 10px;
    overflow: auto;
}

a {
    text-decoration: none;
    font-size: 20px;
}

table{
    text-align: center;
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

th {
    font-variant-caps: all-petite-caps;
}