/* General HTMl styling - whitesmoke background, slim font weight and stylish font family */
html,
body {
    background-color: whitesmoke;
    font-weight: 100;
    font-family: sans-serif;
}

/* styling for the product recalls innovation */
#product-recalls {
    width: 100%;
    background-color: gainsboro;
    padding: 10px;
    overflow: auto;
}

/* further styling for product recalls innovation */
#product-recalls div {
    background-color: #8f83d8;
    width: 200px;
    padding: 10px;
    color: white;
    text-align: center;
    float: left;
    margin-right: 5px;
}

/* styling for a link tags throughout website - drops the text decoration line under and makes links larger */
a {
    text-decoration: none;
    font-size: 20px;
}

/* styling for table - aligns text to center - adds black border */
table {
    text-align: center;
    border: 1px solid black;
}

/* styling each th and td in tables throughout application */
th,
td {
    padding: 10px;
}

/* same as above just not targetting every td */
th {
    font-variant-caps: all-petite-caps;
}

/* styling inputs to have larger font size and nice padding */
input {
    font-size: 15px;
    padding: 10px
}

/* styling for ordered lists - I use ordered lists for errors */
ol {
    color: red;
    font-weight: 800;
}