<!-- adding stores -->
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<h1>Add New Store</h1><br />
<!-- form for adding stores -->
<form action="/add-store" method="post">
    <p>SID <input name="sid" type="text" /></p>
    <p>Location <input type="text" name="location" /></p>
    <p>Manager ID<input type="text" name="ManID" /></p> <input type="submit" value="Add">
</form> <br /><br /> <a href="/">Home</a>