<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>

<body>
    <h1>Edit Store</h1><br />
    <% if (errors !=undefined) { %>
        <ul>
            <% errors.forEach((error)=> { %> <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <% if (errors !=undefined) { %>
                <form action="/editstore" method="post">
                    <p>SID <input value="<%= data[0] %>" type="text" disabled="disabled" /></p>
                    <p>Location <input type="text" value="<%= data[1] %>" /></p>
                    <p>Manager ID <input type="text" name="val1" value="<%= data[2] %>" /></p> <input type="submit"
                        value="Add">
                </form> <br /><br /> <a href="/">Home</a>
                <% } %>
</body>

</html>