<link rel="stylesheet" type="text/css" href="../css/index.css"/>

<div id="product-recalls">
    <h1 style="font-size:15px;">Notice : Product Recalls</h1>
    <% data.results.forEach((item)=>{%>
        <div id="product-recall-1">
            <p><%=item%></p>
        </div>
    <%});%>
</div>

<ol>
    <li><a href="/stores">Stores</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/managers">Managers (Mongo DB)</a></li>
</ol>