<link rel="stylesheet" type="text/css" href="../css/index.css"/>

<div id="product-recalls">
    <div id="product-recall-1">
        <h1>"Carrot" Recall</h1>
        <small>These carrots have made people sick. They're too curved.</small>
    </div>
</div>

<ol>
    <li><a href="/stores">Stores</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/managers">Managers (Mongo DB)</a></li>
</ol>